apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: hacbs-test-project-umwk
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: hacbs-test-project-umwk
    app.kubernetes.io/part-of: rhtap-demo-app
  name: hacbs-test-project-umwk
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: hacbs-jvm-build-test-project
      app.kubernetes.io/instance: hacbs-test-project-umwk
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: hacbs-jvm-build-test-project
        app.kubernetes.io/instance: hacbs-test-project-umwk
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-gpvq-tenant/rhtap-demo-app/hacbs-test-project-umwk@sha256:0f6ce12140b01ea8e964cdf6525d2a994066c93b042216d339c5111481cd693d
        name: hacbs-jvm-build-test-project
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 500m
            memory: 1Gi
status: {}
